{% extends 'templates/sidebar.html' %}

{% block body %}
<div class="content-wrapper ">
  <div class="content-header">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Mahasiswa Telah Terdaftar</h4>
          </div>
          <div class="modal-body">
            <p>Silahkan pilih 👇</p>
          </div>
          <div class="modal-footer d-grid">
            <a href="{{url_for('views.input_peminjaman')}}" type="button" class="btn btn-success btn-block">Peminjaman
              Proyektor</a>
            <a href="{{url_for('views.input_pengembalian')}}" type="button"
              class="btn btn-primary btn-block">Pengembalian Proyektor</a>
          </div>
        </div>

      </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-{{ message[2] }} alert-dismissible custom-alert mt-5" role="alert" style="    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -250%);
    z-index: 9999;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5><i class="icon fas fa-exclamation-triangle"></i>{{ message[2] }}</h5>
      <p>{{ message[0] }}</p>
      <p>{{ message[1] }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row ml-5">

        <div class="col-4">
          <div class="card" style="width: 18rem;height: 13rem">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img src="{{url_for('static', filename = 'img/icon/JURUSAN.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['jurusan'] }}</h4>
                  <h5>Jurusan</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;height: 13rem">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img style="width: 130px;height: 110px"
                    src="{{url_for('static', filename = 'img/icon/MAHASISWA.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['mahasiswa'] }}</h4>
                  <h5>Mahasiswa</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;height: 13rem">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img style="width: 130px;height: 110px" src="{{url_for('static', filename = 'img/icon/RUANGAN.png')}}"
                    z alt="gambar" class="img-fluid mt-4">
                  <h4>{{ jumlah_data['ruang'] }}</h4>
                  <h5>Ruang</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img src="{{url_for('static', filename = 'img/icon/FAKULTAS.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['fakultas'] }}</h4>
                  <h5>Fakultas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;height:13rem;">
            <div class="container">
              <div class="row ">
                <div class="col-12 text-center">
                  <h1 id="main" class="mt-2">CEK SCAN</h1>
                  <h5 id="second" class="">Silahkan Tempelkan Kartu</h5>
                  <img id="image" width="90" src="{{url_for('static', filename = 'img/icon/LOGO_RFID.png')}}"
                    alt="gambar" class="img-fluid rotating-image" width="110">
                  <h6 id="loading"></h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img src="{{url_for('static', filename = 'img/icon/PROYEKTOR.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['proyektor'] }}</h4>
                  <h5>Proyektor</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img src="{{url_for('static', filename = 'img/icon/PEMINJAMAN.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['peminjaman'] }}</h4>
                  <h5>Peminjaman</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4  ">
          <a class="btn" style="width: 18rem;" onclick="scanKartu()">
            <div class="card" style="width: 16.5rem;height:12rem;">
              <div class="container">
                <div class="row ">
                  <div class="col-12 text-center">
                    <h1 class="mt-5" id="emoji">👇</h1>
                    <h1 class="">SCAN KARTU</h1>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <button class="btn btn-secondary" onclick="resetState()" style="width: 18rem;">Reset State</button>
        </div>

        <div class="col-4  ">
          <div class="card" style="width: 18rem;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <img src="{{url_for('static', filename = 'img/icon/PENGEMBALIAN.png')}}" z alt="gambar"
                    class="img-fluid mt-4">
                  <h4>{{ jumlah_data['pengembalian'] }}</h4>
                  <h5>Pengembalian</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<style>
  .rotating-image {
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>


{% block script %}
<script type="module" src="{{url_for('static', filename = 'dist/js/admin/dashboard.js')}}"></script>
{% endblock %}
{% endblock %}