{% extends 'templates/sidebar.html' %}

{% block link %}

{% endblock %}

{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data Peminjaman</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Peminjaman</a></li>
            <li class="breadcrumb-item active">Data Peminjaman</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <form action="{{ url_for('views.convert_peminjaman') }}" method="post">
    <div class="row">
      <div class="col">
        <div class="ml-4 form-group">
          <label>Tanggal Awal</label>
          <input type="datetime-local" name="start_time" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Tanggal Akhir</label>
          <input type="datetime-local" name="end_time" class="form-control">
        </div>
      </div>
      <div class="col mt-2">
        <button type="submit" class="mt-4 btn btn-danger btn-icon-text">
          <i class="ti-upload btn-icon-prepend"></i>
          Convert Data
        </button>
      </div>
    </div>
  </form>


  <div class="container-fluid table-responsive ">
    <div class="row bg-light mt-12 rounded-6">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Tanggal Peminjaman</th>
            <th>No Pinjam</th>
            <th>Mahasiswa</th>
            <th>Proyektor</th>
            <th>Perangkat Lainnya</th>
            <th>Mata Kuliah</th>
            <th>Ruang</th>
            <th>Dosen</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['waktu'] }}</td>
            <td>{{ item['nomor_peminjaman'] }}</td>
            <td>{{ item['nama'] }}</td>
            <td>{{ item['proyektor'] }}</td>
            <td>
              {% for perangkat, nilai in item['perangkat_lainnya'].items() %}

              <p>{% if nilai %}
                {{perangkat}}
                {% endif %}</p>
              {% endfor %}
            </td>
            <td>{{ item['matakuliah'] }}</td>
            <td>{{ item['ruang'] }}</td>
            <td>{{ item['dosen'] }}</td>
            {% if item['status'] %}
            <td>Pinjam</td>
            {% else %}
            <td>Dikembalikan</td>
            {% endif %}
            <td>
              <a href="" data-toggle="modal" data-target="#modal-edit{{ item['id'] }}">Edit</a>
          </tr>
        </tbody>

        <div class="modal fade" id="modal-edit{{ item['id'] }}" tabindex="-1" aria-labelledby="dataLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dataLabel">Edit Peminjaman</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('views.data_peminjaman') }}" method="POST" enctype="multipart/form-data">

                  <div class="form-group">
                    <label>Tanggal Pinjam</label>
                    <input type="datetime-local" name="waktu" class="form-control" value="{{ item['waktu']}}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">No Peminjaman</label>
                    <input type="number" name="nomor" class="form-control" value="{{ item['nomor_peminjaman']}}"
                      readonly>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Nama Mahasiswa</label>
                    <input type="text" name="nama" class="form-control" value="{{ item['nama']}}"
                      id="exampleInputEmail1" placeholder="masukkan nama mahasiswa">
                  </div>

                  <div class="form-group">
                    <label for="exampleSelectRounded0">Nama Proyektor</label>
                    <select name="proyektor" class="custom-select rounded-0" id="exampleSelectRounded0">
                      {% for proyektor in data_proyektor %}
                      <option>{{ proyektor['nama'] }}</option>
                      {% endfor %}
                    </select>

                    <div class="form-group">
                      <label for="exampleSelectRounded0">Nama Matakuliah</label>
                      <select name="matakuliah" class="custom-select rounded-0" id="exampleSelectRounded0">
                        {% for matakuliah in data_matakuliah %}
                        <option>{{ matakuliah['nama'] }}</option>
                        {% endfor %}
                      </select>

                      <div class="form-group">
                        <label for="exampleSelectRounded0">Nama Ruang</label>
                        <select name="ruang" class="custom-select rounded-0" id="exampleSelectRounded0">
                          {% for ruang in data_ruang %}
                          <option>{{ ruang['nama'] }}</option>
                          {% endfor %}
                        </select>

                        <div class="form-group">
                          <label for="exampleSelectRounded0">Nama Dosen</label>
                          <select name="dosen" class="custom-select rounded-0" id="exampleSelectRounded0">
                            {% for dosen in data_dosen %}
                            <option>{{ dosen['nama'] }}</option>
                            {% endfor %}
                          </select>

                        </div>

                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}