{% extends 'templates/sidebar.html' %}

{% block link %}

{% endblock %}

{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data Jurusan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Jurusan</a></li>
            <li class="breadcrumb-item active">Data Jurusan</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid table-responsive ">
    <div class="row bg-light mt-12 rounded-6">

      <table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Kode Jurusan</th>
            <th>Nama Jurusan</th>
            <th>Nama Fakultas</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['kode'] }}</td>
            <td>{{ item['nama'] }}</td>
            <td>{{ item['nama_fakultas'] }}</td>
            <td>
              <a href="" data-toggle="modal" data-target="#modal-edit{{ item['id'] }}">Edit</a>
              <a href="/data-jurusan/delete/{{ item['id'] }}"
                onclick="return confirm('apakah anda ingin menghapusnya?')">Hapus</a>
            </td>
          </tr>
        </tbody>

        <div class="modal fade" id="modal-edit{{ item['id'] }}" tabindex="-1" aria-labelledby="dataLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dataLabel">Edit Jurusan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('views.data_jurusan') }}" method="POST" enctype="multipart/form-data">

                  <div class="form-group">
                    <label>Kode Jurusan</label>
                    <input type="hidden" name="id" value="{{ item['id'] }}">
                    <input type="text" class="form-control" name="kode" placeholder="apa kodenya?"
                      value="{{ item['kode'] }}">
                  </div>

                  <div class="form-group">
                    <label>Nama Jurusan</label>
                    <input type="text" class="form-control" name="nama" placeholder="namanya apa?"
                      value="{{ item['nama'] }}">
                  </div>

                  <div class="form-group">
                    <label for="exampleSelectRounded0">Nama Fakultas</label>
                    <select name="fakultas" class="custom-select rounded-0" id="exampleSelectRounded0">
                      {% for fakultas in data %}
                      <option>{{ fakultas['nama_fakultas'] }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}