{% extends 'templates/sidebar.html' %}

{% block title %} <title>Input Peminjaman</title> {% endblock %}


{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Input Peminjaman</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Peminjaman</a></li>
            <li class="breadcrumb-item active">Input Peminjaman</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <form action="{{ url_for('views.input_peminjaman') }}" , method="POST">
    <div class="card-body">

      <div class="form-group">
        <label>Tanggal Pinjam</label>
        <input type="datetime-local" name="waktu" class="form-control">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">No Peminjaman</label>
        <input type="number" name="nomor" class="form-control" value="{{ jumlah_peminjam + 1 }}" readonly>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Nama Mahasiswa</label>
        <input type="text" name="nama" class="form-control" id="exampleInputEmail1"
          value="{{ mahasiswa['nama'] }}">
      </div>

      <div class="form-group">
        <label for="exampleSelectRounded0">Nama Proyektor</label>
        <select name="proyektor" class="custom-select rounded-0" id="exampleSelectRounded0">
          {% for proyektor in data_proyektor %}
          <option>{{ proyektor['nama'] }}</option>
          {% endfor %}
        </select>

      <div class="form-group">
        <label for="exampleSelectRounded0">Nama Matakuliah</label>
        <select name="matakuliah" class="custom-select rounded-0" id="exampleSelectRounded0">
          {% for matakuliah in data_matakuliah %}
          <option>{{ matakuliah['nama'] }}</option>
          {% endfor %}
        </select>

      <div class="form-group">
        <label for="exampleSelectRounded0">Nama Ruang</label>
        <select name="ruang" class="custom-select rounded-0" id="exampleSelectRounded0">
          {% for ruang in data_ruang %}
          <option>{{ ruang['nama'] }}</option>
          {% endfor %}
        </select>

      <div class="form-group">
        <label for="exampleSelectRounded0">Nama Dosen</label>
        <select name="dosen" class="custom-select rounded-0" id="exampleSelectRounded0">
          {% for dosen in data_dosen %}
          <option>{{ dosen['nama'] }}</option>
          {% endfor %}
        </select>

      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Pinjam</button>
    </div>
  </form>
</div>

</div>

{% block script %}
  <script>
    var input = document.querySelector('input[type="datetime-local"]');
    var now = new Date();
    var timezoneOffset = now.getTimezoneOffset() * 60000;
    var currentDatetime = new Date(Date.now() - timezoneOffset).toISOString().slice(0, 16);
    input.value = currentDatetime;
  </script>
{% endblock %}
{% endblock %}