{% extends 'templates/sidebar.html' %}

{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Input Jurusan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Jurusan</a></li>
            <li class="breadcrumb-item active">Input Jurusan</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <form action="{{ url_for('views.input_jurusan') }}" , method="POST">
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Kode Jurusan</label>
        <input type="text" name="kode" class="form-control" id="exampleInputEmail1" placeholder="masukkan kode jurusan">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nama Jurusan</label>
        <input type="text" name="nama" class="form-control" id="exampleInputEmail1" placeholder="masukkan nama jurusan">
      </div>
      <div class="form-group">
        <label for="exampleSelectRounded0">Nama Fakultas</label>
        <select name="fakultas" class="custom-select rounded-0" id="exampleSelectRounded0">
          {% for fakultas in data_fakultas %}
            <option>{{ fakultas['nama'] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tambahkan</button>
    </div>
  </form>
</div>

</div>

{% endblock %}