{% extends 'templates/sidebar.html' %}

{% block title %} <title>Input Pengembalian</title> {% endblock %}


{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Input Pengembalian</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Pengembalian</a></li>
            <li class="breadcrumb-item active">Input Pengembalian</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages%}
  <div class="alert alert-success alert-dismissible custom-alert mt-5" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5><i class="icon fas fa-check-circle"></i>{{ message }}</h5>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form action="{{ url_for('views.input_pengembalian') }}" , method="POST">
    <div class="card-body">

      <div class="form-group">
        <label>Tanggal Pengembalian</label>
        <input type="datetime-local" name="waktu" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label>No Peminjaman</label>
        <select id="no_proyektor" name="nomor_peminjaman" class="custom-select rounded-0" id="exampleSelectRounded0">
          <option value="" selected disabled>-- Pilih salah satu --</option>
          {% for item in peminjaman %}
          <option>{{ item['nomor_peminjaman'] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Nama Mahasiswa</label>
        <input type="text" name="nama" class="form-control" value="{{ mahasiswa['nama'] }}" id="exampleInputEmail1"
          readonly>
      </div>

      <div class="form-group">
        <label>Nama Proyektor</label>
        <input id="nama_proyektor" name="proyektor" type="text" class="form-control"
          value="pilih nomor proyektor terlebih dahulu" id="exampleInputEmail1" readonly>
      </div>

      <div class="form-group">
        <label for="">Perangkat Lainnya</label>
        <div class="form-check">
          <label class="form-check-label">
            <input id="kabel_hdmi" name="hdmi" type="checkbox" class="form-check-input" disabled value="kabel_hdmi">
            Kabel HDMI
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="kabel_vga" name="vga" type="checkbox" class="form-check-input" disabled value="kabel_vga">
            Kabel VGA
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="kabel_dvi" name="dvi" type="checkbox" class="form-check-input" disabled value="kabel_dvi">
            Kabel DVI
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="lensa_pendukung" name="lensa_pendukung" type="checkbox" class="form-check-input" disabled value="lensa_pendukung">
            Lensa Pendukung
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="case_pelindung" name="case_pelindung" type="checkbox" class="form-check-input" disabled value="case_pelindung">
            Case Pelindung
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="remote" type="checkbox" name="remote" class="form-check-input" disabled value="remote">
            Remote
            <i class="input-helper"></i></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="layar" type="checkbox" name="layar" class="form-check-input"disabled value="layar">
            Layar
            <i class="input-helper"></i></label>
        </div>
      </div>

      <div class="form-group">
        <label>Nama Matakuliah</label>
        <input name="matakuliah" id="matakuliah" type="text" class="form-control"
          value="pilih nomor proyektor terlebih dahulu" id="exampleInputEmail1" readonly>
      </div>

      <div class="form-group">
        <label>Nama Ruang</label>
        <input name="ruang" id="ruang" type="text" class="form-control" value="pilih nomor proyektor terlebih dahulu"
          id="exampleInputEmail1" readonly>

      </div>

      <div class="form-group">
        <label>Nama Dosen</label>
        <input name="dosen" id="dosen" type="text" class="form-control" value="pilih nomor proyektor terlebih dahulu"
          id="exampleInputEmail1" readonly>

      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>

  </form>
</div>

</div>

{% block script %}
<script type="module" src="{{url_for('static', filename = 'dist/js/admin/pengembalian.js')}}"></script>
<script>
  var input = document.querySelector('input[type="datetime-local"]');
  var now = new Date();
  var timezoneOffset = now.getTimezoneOffset() * 60000;
  var currentDatetime = new Date(Date.now() - timezoneOffset).toISOString().slice(0, 16);
  input.value = currentDatetime;
</script>
{% endblock %}

{% endblock %}