{% extends 'templates/sidebar.html' %}

{% block body %}
<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Input Proyektor</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Proyektor</a></li>
            <li class="breadcrumb-item active">Input Proyektor</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <form action="{{ url_for('views.input_proyektor') }}" , method="POST">
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">ID Proyektor</label>
        <input type="text" name="id_proyektor" class="form-control" id="exampleInputEmail1"
          placeholder="masukkan kode proyektor">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nama Proyektor</label>
        <input type="text" name="nama" class="form-control" id="exampleInputEmail1"
          placeholder="masukkan nama proyektor">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nomor Proyektor</label>
        <input type="number" name="nomor" class="form-control" id="exampleInputEmail1"
          placeholder="masukkan nama proyektor">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Kondisi Proyektor</label>
        <select name="kondisi" class="custom-select rounded-0" id="exampleSelectRounded0">
          <option>Baik</option>
          <option>Rusak</option>
        </select>
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tambahkan</button>
    </div>
  </form>
</div>

</div>

{% endblock %}