{% extends 'templates/sidebar.html' %}

{% block link %}

{% endblock %}

{% block body %}
<div class="content-wrapper ">

  <h1 class="mx-auto text-center">DATA PENGEMBALIAN</h1>

  <div class="container-fluid table-responsive ">
    <div class="row bg-light mt-12 rounded-6">

      <table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Tanggal Pengembalian</th>
            <th>No Pengembalian</th>
            <th>No Peminjaman</th>
            <th>Mahasiswa</th>
            <th>Proyektor</th>
            <th>Perangkat Lainnya</th>
            <th>MataKuliah</th>
            <th>Ruang</th>
            <th>Dosen</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['waktu'] }}</td>
            <td>{{ item['nomor_peminjaman'] }}</td>
            <td>{{ item['nomor_pengembalian'] }}</td>
            <td>{{ item['nama'] }}</td>
            <td>{{ item['proyektor'] }}</td>
            <td>
              {% for perangkat, nilai in item['perangkat_lainnya'].items() %}

              <p>{% if nilai %}
                {{perangkat}}
                {% endif %}</p>
              {% endfor %}
            </td>
            <td>{{ item['matakuliah'] }}</td>
            <td>{{ item['ruang'] }}</td>
            <td>{{ item['dosen'] }}</td>
            {% if item['status'] %}
            <td>Dikembalikan</td>
            {% else %}
            <td>Pinjam</td>
            {% endif %}
          </tr>
          {% endfor %}

        </tbody>

        <tfoot>
          <tr>
            <td colspan="4"></td> <!-- Tambahkan colspan yang sesuai -->
            <td colspan="1"><strong>JUMLAH</strong></td> <!-- Pindahkan kata "Total" ke kolom keempat -->
            <td colspan="5"></td> <!-- Tambahkan colspan yang sesuai -->
            <td>
              {{ data|length }}
            </td>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}