{% extends 'templates/sidebar.html' %}

{% block link %}

{% endblock %}

{% block body %}
<div class="content-wrapper ">
  <!-- <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data Proyektor</h1>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid table-responsive ">
    <div class="row bg-light mt-12 rounded-6">

      <h1 class="mx-auto text-center">DATA PROYEKTOR</h1>
      
      <table class="table table-hover ">


        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>ID Proyektor</th>
            <th>Nama Proyektor</th>
            <th>Nomor Proyektor</th>
            <th>Kondisi Proyektor</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['id_proyektor'] }}</td>
            <td>{{ item['nama'] }}</td>
            <td>{{ item['nomor'] }}</td>
            <td>{{ item['kondisi'] }}</td>
          </tr>
        </tbody>

        {% endfor %}

        <tfoot>
          <tr>
            <td colspan="2"></td> <!-- Tambahkan colspan yang sesuai -->
            <td colspan="1"><strong>JUMLAH</strong></td> <!-- Pindahkan kata "Total" ke kolom keempat -->
            <td colspan="1"></td> <!-- Tambahkan colspan yang sesuai -->
            <td>
              {{ data_proyektor|length }}
            </td>

          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
{% endblock %}